.aboutme {
    &__wrapper {
        margin-top: 120px;
        display: grid;
        grid-template-columns: 430px 640px;
        column-gap: 40px;
    }
    &__photo {
        height: 400px;
        border-radius: 15px;
    }
    &__wrapp {
        display: grid;
        grid-template-columns: repeat(2, 300px);
        column-gap: 20px;
        grid-template-rows: auto-fill, minmax(120px, auto);
        padding-top: 30px;
    }
    &__subtitle {
        color: $base-color;
        padding-left: 12px;
        @include before_circle;
    }
    &__text {
        padding-top: 20px;
    }
}