.promo {
    min-height: 100vh;
    position: relative;
    background: url(../img/bg/main.png) center (center/cover) no-repeat;
    padding-top: 205px;
    &__wrapper {
        margin-left: 0;
    }
    &__title {
        width: 535px;
        margin-top: 10px;
    }
    &__subtitle {
        position: relative;
        padding-left: 10px;
        z-index: 2;
        @include before_circle;
    }
    &__btns {
        font-weight: 600;
        margin-top: 25px;
        display: grid;
        width: 250px;
        grid-template-columns: repeat(2, 140px);
        column-gap: 20px;
        align-items: center;
        justify-content:space-between;
    }
    &__link {
        text-align: center;
        color: $text-color;
        cursor: pointer;
        &:hover {
            color: $text-color;
            text-decoration: none;
            border: none;
             

        }
    }
   /*  &__color1 {
        -webkit-text-stroke: 1.5px green;
        text-shadow: px green;
    }
    &__color2 {
        -webkit-text-stroke: 0.5px green;
    } */
}
 