 .sidepanel {
    position: fixed;
    top: 210px;
    left: 50px;
    display: flex;
    height: 360px;
    flex-direction: column;
    justify-content: space-around;
    z-index: 3;
    color: $text-color;
    align-items: center;
    font-weight: 500;
    &__divider {
        margin-top: 10px;
        height: 70px;
        width: 2px;
        background-color: $text-color;
    }
    &__text {
        padding-top: 13px;
        height: 150px;
        width: 25px;
        span {
            display: block;
            transform: rotate(-90deg) translate(-30%, -260%);
            width: 150px;  
        }
}
#side_telegram {
    height: 20px;
    width: 20px;
    transform: rotate(-90deg);
    display: flex;
    align-items: center;
    img {
        &:hover {
        transform: rotate(90deg);
        width: 25px;
        height: 25px;
        transition: 0.5s;
    }
    }
}
#side_github {
    height: 20px;
    width: 20px;
    transform: rotate(-90deg); 
    display: flex;
    align-items: center;   
    img {
        &:hover {
        transform: rotate(90deg);
        width: 25px;
        height: 25px;
        transition: 0.5s;
    }
    }
}
#side_instagram {
    height: 20px;
    width: 20px;
    transform: rotate(-90deg); 
    display: flex;
    align-items: center;   
    img {
        &:hover {
        transform: rotate(90deg);
        width: 25px;
        height: 25px;
        transition: 0.5s;
    }
    }
}
}
